<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qcby.springboot_0525.mapper.EvaluationRecordMapper">

    <resultMap id="BaseResultMap" type="com.qcby.springboot_0525.entity.EvaluationRecord">
        <id column="id" property="id"/>
        <result column="result_id" property="resultId"/>
        <result column="indicator_id" property="indicatorId"/>
        <result column="ai_score" property="aiScore"/>
        <result column="teacher_score" property="teacherScore"/>
        <result column="final_score" property="finalScore"/>
        <result column="score_ratio" property="scoreRatio"/>
        <result column="ai_comment" property="aiComment"/>
        <result column="teacher_comment" property="teacherComment"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="indicator_name" property="indicatorName"/>
        <result column="indicator_weight" property="indicatorWeight"/>
    </resultMap>

    <select id="selectById" resultMap="BaseResultMap">
        SELECT er.*, ei.name AS indicator_name, ei.default_weight AS indicator_weight
        FROM evaluation_record er
        LEFT JOIN evaluation_indicator ei ON er.indicator_id = ei.id
        WHERE er.id = #{id}
    </select>

    <select id="selectByResultId" resultMap="BaseResultMap">
        SELECT er.*, ei.name AS indicator_name, ei.default_weight AS indicator_weight
        FROM evaluation_record er
        LEFT JOIN evaluation_indicator ei ON er.indicator_id = ei.id
        WHERE er.result_id = #{resultId}
    </select>

    <select id="selectList" resultMap="BaseResultMap">
        SELECT er.*, ei.name AS indicator_name, ei.default_weight AS indicator_weight
        FROM evaluation_record er
        LEFT JOIN evaluation_indicator ei ON er.indicator_id = ei.id
        ORDER BY er.create_time DESC
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO evaluation_record (result_id, indicator_id, ai_score, teacher_score, final_score, score_ratio, ai_comment, teacher_comment)
        VALUES (#{resultId}, #{indicatorId}, #{aiScore}, #{teacherScore}, #{finalScore}, #{scoreRatio}, #{aiComment}, #{teacherComment})
    </insert>

    <update id="updateById">
        UPDATE evaluation_record
        <set>
            <if test="aiScore != null">ai_score = #{aiScore},</if>
            <if test="teacherScore != null">teacher_score = #{teacherScore},</if>
            <if test="finalScore != null">final_score = #{finalScore},</if>
            <if test="scoreRatio != null">score_ratio = #{scoreRatio},</if>
            <if test="aiComment != null">ai_comment = #{aiComment},</if>
            <if test="teacherComment != null">teacher_comment = #{teacherComment},</if>
        </set>
        WHERE id = #{id}
    </update>

    <update id="updateScoreRatioByResultId">
        UPDATE evaluation_record
        SET score_ratio = #{scoreRatio},
            final_score = CASE
                WHEN teacher_score IS NOT NULL AND teacher_score > 0
                THEN ROUND(ai_score * #{scoreRatio} / 10 + teacher_score * (10 - #{scoreRatio}) / 10, 2)
                ELSE ai_score
            END
        WHERE result_id = #{resultId}
    </update>

    <delete id="deleteByResultId">
        DELETE FROM evaluation_record WHERE result_id = #{resultId}
    </delete>

</mapper>
